github "lkzhao/Hero"
github "SnapKit/SnapKit"
github "Instagram/IGListKit"


github "Alamofire/Alamofire"
github "Moya/Moya"
github "DaveWoodCom/XCGLogger" ~> 6.0.4
github "realm/realm-cocoa"
github "SwiftKit/Cuckoo"
github "Swinject/Swinject"
github "Swinject/SwinjectStoryboard"

github "ReactorKit/ReactorKit"
github "RxSwiftCommunity/RxDataSources"
github "RxSwiftCommunity/RxRealm"
github "RxSwiftCommunity/RxOptional" ~> 3.1.3

github "mchoe/SwiftSVG" ~> 2.0
github "pocketsvg/PocketSVG" ~> 2.0
