github "lkzhao/Hero"
github "Alamofire/Alamofire"
github "Moya/Moya"
github "SnapKit/SnapKit"
github "Instagram/IGListKit"
github "DaveWoodCom/XCGLogger"
github "realm/realm-cocoa" == 3.9.0
github "SwiftKit/Cuckoo"
github "Swinject/Swinject"
github "Swinject/SwinjectStoryboard"
github "ReactiveX/RxSwift" ~> 4.0
github "RxSwiftCommunity/RxDataSources"
github "RxSwiftCommunity/RxRealm"
github "RxSwiftCommunity/RxOptional"
github "mchoe/SwiftSVG" ~> 2.0
github "fastred/DeallocationChecker"
github "onevcat/Kingfisher" ~> 4.0
github "Marxon13/M13Checkbox"
github "malcommac/SwiftRichString"
