github "lkzhao/Hero"
github "SnapKit/SnapKit"
github "Instagram/IGListKit"


github "Alamofire/Alamofire"
github "Moya/Moya"
github "DaveWoodCom/XCGLogger"
github "realm/realm-cocoa"
github "SwiftKit/Cuckoo"
github "Swinject/Swinject"
github "Swinject/SwinjectStoryboard"

github "RxSwiftCommunity/RxDataSources"
github "RxSwiftCommunity/RxRealm"
github "RxSwiftCommunity/RxOptional"

github "mchoe/SwiftSVG" ~> 2.0
